{% extends 'base-template.html' %}
{% block headTitle %}Tea++ | About {% endblock %}

{% block nav %}
	<ul class="nav">
    <li><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
    <li class="active"><a href="../about">About</a></li>
    <li><a href="../contact">Contact</a></li>
  </ul>
{% endblock %}

{% block content %}

      <!-- row 1 -->
      <div class="row">
        <div class ="span8 offset1">
          <h2>About me</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at scelerisque erat. Etiam volutpat aliquam dolor id bibendum. Curabitur gravida fringilla aliquam. Duis at velit sed enim ornare commodo at sed ante. Integer vel magna purus. Pellentesque viverra lobortis purus, sed condimentum diam rutrum vel. Integer id pretium urna. Vestibulum eget augue et nisi consequat dapibus at sed massa. Praesent nec nulla quis orci pellentesque pretium in eget erat. Nam non odio vel sem cursus venenatis et sit amet arcu. Aliquam at nulla sem. Maecenas iaculis adipiscing neque, ac pretium metus mattis ac. Suspendisse varius, neque eu interdum vulputate, enim purus commodo tellus, ut mollis nisl diam euismod ligula. Nullam nibh elit, auctor nec egestas sagittis, luctus eu ligula. Donec rutrum, metus sit amet egestas cursus, sapien augue blandit nunc, sit amet facilisis tortor magna sed arcu. Ut sollicitudin purus ut tellus dictum feugiat. Maecenas gravida semper odio id molestie. Quisque sodales facilisis odio. Praesent et metus in lorem euismod rhoncus ut quis felis. Quisque ultricies bibendum tempus. Fusce varius egestas venenatis. In rhoncus pretium odio, vel molestie quam tincidunt gravida. Nam tellus ipsum, convallis quis tempus at, sollicitudin id massa. Nullam vel condimentum arcu. Mauris non mauris nec purus posuere scelerisque. Integer eros neque, cursus sit amet rhoncus id, semper ut dui. Mauris et neque vitae ante aliquam fermentum. In mollis orci non nibh congue sit amet facilisis enim aliquam. :)</p>
        </div> <!-- /span8 -->
      </div> <!-- /row -->

{% endblock %}