<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block headTitle %}Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://127.0.0.1:8000/static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 10px;
      }
      /* Remove padding when in static mode for small viewports */
      @media (max-width: 979px) {
        body {
          padding-top: 0;
        }
      }
    </style>

    <!-- Le fonts -->
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="http://127.0.0.1:8000/static/img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://127.0.0.1:8000/static/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://127.0.0.1:8000/static/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://127.0.0.1:8000/static/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://127.0.0.1:8000/static/img/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <!-- <image src="http://127.0.0.1:8000/static/img/leaf_icon.png" class='leaf-icon' width='45' height='45'> -->
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/"><image src="http://127.0.0.1:8000/static/img/leaf_icon.png" class='leaf-icon' width='45' height='45'>Tea++</a>
          <div class="nav-collapse">
            

            {% block nav %}
            Nav here
            {% endblock %}
            
            <form class="navbar-search pull-right">
              <input type="text" class="search-query" placeholder="Search">
            </form>
            
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utility
                <b class="caret"></b></a>
                <ul class="dropdown-menu">  
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>  
                  <li><a href="#">Link</a></li>
                </ul>
              </li>            
            </ul>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class='span11'>
      {% block content %}
      Content
      {% endblock %}

      <hr>

      <footer>
        <p>&copy; Jacob Hallman 2012 | Built with Twitter Bootstrap</p>
      </footer>
      </div>


    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- JQuery via Google w/ local fallback -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.JQuery || document.write('<script src="http://127.0.0.1:8000/static/js/jquery-1.7.2.min.js"><\/script>')</script>

    <!-- minified bootstrap.js -->
    <script src="http://127.0.0.1:8000/static/js/bootstrap.min.js"></script>

  </body>
</html>
