{% extends 'base-template.html' %}
{% block headTitle %}New blog post{% endblock %}

{% block nav %}
	<ul class="nav">
    <li><a href="../"><i class="icon-home icon-white"></i> Home</a></li>
    <li><a href="/">About</a></li>
    <li><a href="../contact/">Contact</a></li>
  </ul>
{% endblock %}

{% block content %}
	<!-- row 1 -->
    <div class="row">
      <div class ="span8 offset1">
				<h2>Create a new blog entry...</h2>
				<form action='' method='post' enctype="multipart/form-data">
					<table>
						{{ form.as_table }}
					</table>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div> <!-- end row 1 -->
{% endblock %}
