<!doctype html>
<html>
<head>
	<title>{% block headTitle %}Welcome!{% endblock %}</title>
</head>
<body>
	<h1>{% block title %}Tea++ more caffeine, more code{% endblock %}</h1>
	{% block content %}
	Content here
	{% endblock %}
</body>
</html>