{% extends 'base-template.html' %}
{% block headTitle %}Tea++ | caffeinated coding{% endblock %}

{% block nav %}
	<ul class="nav">
    <li class="active"><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="../contact">Contact</a></li>
  </ul>
{% endblock %}

{% block content %}

{% for entry in blog %}
      <!-- row 1 -->
      <div class="row">
        <div class ="span8 offset1">
          <h2><a href="/blog/view/{{ entry.slug }}">{{ entry.title }}</a></h2>
          <p>{{ entry.posted }}
          <p>{{ entry.get_snippet|linebreaks }}<p>
          <div class="more-buttons">
          <p><a class="btn btn-custom" href="/blog/view/{{ entry.slug }}">More... &raquo;</a></p>
          </div>
        </div> <!-- /span8 -->
      </div> <!-- /row -->
      {% endfor %}

{% endblock %}