{% extends 'base-template.html' %}
{% block headTitle %}YAY!{% endblock %}

{% block nav %}
	<ul class="nav">
    <li><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
    <li><a href="../../about">About</a></li>
    <li><a href="../../contact">Contact</a></li>
  </ul>
{% endblock %}

{% block content %}

      <!-- row 1 -->
      <div class="row">
        <div class ="span8 offset1">
          <h2>SUCCESS :)</h2>
          <br />
          <p><a class="btn btn-custom" href="/">View posts &raquo;</a></p>
        </div> <!-- /span8 -->
      </div> <!-- /row -->

{% endblock %}