{% extends 'base-template.html' %}
{% block headTitle %}{{ post.title }}{% endblock %}

{% block nav %}
	<ul class="nav">
    <li><a href="../"><i class="icon-home icon-white"></i> Home</a></li>
    <li><a href="/">About</a></li>
    <li><a href="../contact">Contact</a></li>
  </ul>
{% endblock %}

{% block content %}
      <!-- row 1 -->
      <div class="row">
        <div class ="span8 offset1">
          <h2>{{ post.title }}</h2>
          <p>{{ post.posted }}
          <p>{{ post.body|linebreaks }}<p>
          {% load comments %}
          <p>{% get_comment_form for post as MyCommentForm %}</p>
          <table>
            <form action="{% comment_form_target %}" method='post'>
              {% csrf_token %}
              {{ MyCommentForm }}
              <tr>
                <td colspan='2'>
                  <input type='submit' name='submit' value='Post'>
                  <input type='submit' name='preview' value='Preview'>
                </td>
              </tr>
            </form>
          </table>
          <p>{% render_comment_list for post %}</p>
        </div> <!-- /span8 -->
      </div> <!-- /row -->
{% endblock %}